div.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

a.badge {
  margin-top: 10px;
}

h3 {
  font-family: monospace;
}

p.instructions {
  font-size: 10px;
  font-style: italic;
}
