doctype html
html(lang="en")
head
  title Grassroots Economics | Coverage Reports
  style
    include ./index.css
body
  div.container
    div.container
      img(src="/public/img/home-logo.webp")
    div.container
      p.instructions (click on badge to view summary)
      each group in groupedBadges
        h3 #{group.project}
        each badge in group.badges
          a.badge(href="/report/summary/" + badge)
            img(src="/report/badge/" + badge)
  div.container
    a(href="https://gitlab.com/grassrootseconomics/coverage-server") gitlab repository
