doctype html
html(lang="en")
  head
    title #{pageTitle}
    style
      include ./style.css
  body
    h3 Coverage Summary: #{pageTitle}
    table(class='zui-table')
      thead 
        tr
          th Job ID
          th Coverage
          th Commit SHA
          th Commit Message
          th Date
      tbody
      each report in reports
        tr
          td
            a(href="https://gitlab.com/grassrootseconomics/cic-internal-integration/-/jobs/" + report.job_id, target="_blank")
              | #{report.job_id}
          td #{report.coverage}
          td #{report.sha}
          td #{report.commit_message}
          td #{report.created_at.slice(0, 10)}